%div#sidebar.span3
  %div.dropdown
    %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'} Dropdown <span class="caret"></span>
    %ul.dropdown-menu{:role => "menu", 'aria-labelledby' => "dropdownMenu"}
      %li
        %a(tabindex="-1" href="#") Action
      %li
        %a(tabindex="-1" href="#") Another action
      %li
        %a(tabindex="-1" href="#") Something else here
      %li.divider
      %li.dropdown-submenu
        %a(tabindex="-1" href="#") More Options
        %ul.dropdown-menu
          %li
            %a(tabindex="-1" href="#") Option1
          %li
            %a(tabindex="-1" href="#") Another Option
          
  %p Link1
  %p Link2
  %p Link3
  
  %a.btn(href="#myModal" role="button" data-toggle="modal") Launch demo modal
  
  #myModal.modal.hide.fade
    .modal-header
      %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
      %h3 Modal header
    .modal-body
      One fine body...
    .modal-footer
      %button.btn(data-dismiss="modal" aria-hidden="true") Close
      %button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Save Changes 